@import "src/Root/vars";


.root{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: $indent-big;

  :global(.__IS_MOBILE__) & {
    margin-top: $indent-normal;
  }
}

.cost{
  display: inline-block;
  position: relative;
  height: $size-normal;
  width: auto;
  font-size: $font-size-big;
  line-height: $size-normal;
  color: $color-true-black;
  margin-right: $indent-normal;
  vert-align: top;
}

.button{
  vertical-align: top;

  :global(.__IS_MOBILE__) & {
    margin-top: $indent-normal;
  }
}