@import "src/Root/vars";


.root{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: $indent-big;

  :global(.__IS_MOBILE__) & {
    margin-top: $indent-normal;
  }
}

.cost{
  display: inline-block;
  position: relative;
  height: $size-normal;
  width: auto;
  font-size: $font-size-big;
  line-height: $size-normal;
  color: $color-true-black;
  margin-right: $indent-normal;
  vert-align: top;
}

.newPrice {
  color: #ffaeb7;
}

.line {
  background: url("../../../../../img/line.svg");
  background-size: 95%;
  background-repeat: no-repeat;
  background-position: center;
}

.button{
  vertical-align: top;

  :global(.__IS_MOBILE__) & {
    margin-top: $indent-normal;
  }
}

.buttonDisabled{
  cursor: no-drop;
  background-color: #eee;

  &:hover{
    background-color: #eee;
  }
}