@import "src/Root/vars";


.root{
  display: block;
  position: relative;
  padding-top: $header-height;
  background-color: #fff;
}

.waypoint{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
}