@import "src/Root/vars";


.root{
  display: block;
  position: relative;
  background-color: #fff;
  padding: $indent-giant;
  height: auto;
  width: 100%;
}

.waypoint{
  display: block;
  position: absolute;
  left: 50%;
  height: 1px;
  width: 1px;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
}