//$color-pink: rgb(194, 108, 110);
$color-pink: #E26B96;
$color-pink-light: #FFB2B8;
$color-black: #333;
$color-gray: #555;
$color-true-black: #000;
$color-ghost-gray: rgba(0,0,0, .5);
$color-ghost-white: rgba(255, 255, 255, .85);

$anim-normal: .35s ease-out;


$indent-micro: 5px;
$indent-small: 15px;
$indent-normal: 25px;
$indent-normal-big: 35px;
$indent-big: 50px;
$indent-giant: 100px;


$header-height: 70px;


$font-size-small: 14px;
$font-size-normal: 16px;
$font-size-normal-big: 25px;
$font-size-big: 30px;
$font-size-giant: 50px;


$font-family-roboto: 'Roboto', 'Helvetica Neue', 'sans-serif';
$font-family-roboto-condesed: 'Roboto Condensed', 'Helvetica Neue', 'sans-serif';

$size-small: 35px;
$size-normal: 50px;
$size-big: 100px;


$border-radius-small: 4px;


$page-width-desktop-min: 960px;
$page-width-desktop-small: 1100px;
$page-width-desktop-normal: 1360px;
$page-width-desktop-big: 1600px;


$input-normal-width: 300px;


$left-bar-width: 300px;



@mixin screen($max-width) {
    @media only screen and (max-width: $max-width) {
      @content
    }
}

@mixin mobile(){

}
