@import "src/Root/vars";


.root{
  display: inline-block;
  position: relative;
  width: 400px;
  height: 600px;
  transition: transform $anim-normal, opacity $anim-normal;
  cursor: pointer;

  &Left{
    margin-right: calc(#{$indent-giant} * 1.5);

    &:hover{
      transform: translateX($indent-big);
    }
  }

  &Right{
    margin-left: calc(#{$indent-giant} * 1.5);

    &:hover{
      transform: translateX(-$indent-big);
    }
  }

  &Hidden{
    opacity: .1;
  }

  &:hover .playButtonBody{
    fill: $color-pink;
  }

  &:hover .playButton{
    transform: scale(1.05);
  }

  &:hover .photo{
    transform: scale(1.1);
  }
}

.hoverZone{
  display: block;
  position: absolute;
  z-index: 0;
  width: calc(#{$indent-giant} + #{$indent-big});
  height: 100%;
  background-color: transparent;

  &Left{
    left: calc(-#{$indent-giant} - #{$indent-big});
  }

  &Right{
    right: calc(-#{$indent-giant} - #{$indent-big});
  }
}

.photoWrapper,
.photo{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photoWrapper{
  overflow: hidden;
}

.photo{
  background-position: center;
  background-size: cover;
  background-color: transparent;
  transition: transform $anim-normal;
}

.playButton{
  display: block;
  position: absolute;
  bottom: 20%;

  &Right{
    left: -#{$size-big/2};
  }

  &Left{
    right: -#{$size-big/2};
  }
}

.playButtonBody{

}