@import "src/Root/vars";


.root{
  display: block;
  position: relative;
}

.program{
  margin-top: 0;
  margin-bottom: $indent-big;

  :global(.__IS_MOBILE__) & {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.photoSide{
  @include screen(1300px){
    width: 300px;
  }

  @include screen(1200px){
    display: none;
  }
}

.descriptionSide{
  @include screen(1300px){
    width: calc(100% - 300px - #{$indent-giant} * 1.5);
  }

  @include screen(1200px){
    width: 100%;
    min-height: 0;
  }
}

.emptyText{
  font-size: $font-size-normal-big;
}