@import "src/Root/vars";


.root{
  display: inline-block;
  position: relative;
  height: auto;
  width: auto;
  font-size: 16px;
  color: $color-black;
  cursor: pointer;
  transition: color $anim-normal;

  &:hover{
    color: $color-pink;
  }
}