@import "src/Root/vars";


.root{
  display: inline-block;
  position: relative;
  height: $size-normal;
  line-height: $size-normal;
  text-align: center;
  border: 2px solid $color-pink-light;
  background-color: transparent;
  padding: 0 $indent-normal;
  font-size: $font-size-normal;
  color: #000;
  transition: border-color $anim-normal;
  cursor: pointer;
  outline: none;
  border-radius: $border-radius-small;
  vertical-align: top;

  &:hover{
    border-color: $color-pink;
  }
}