@import "src/Root/vars";


.root{
  display: block;
  position: absolute;
  height: $size-small;
  width: $size-small;
  cursor: pointer;
  transition: transform $anim-normal;

  top: calc(#{-$size-small/2} + #{-$indent-giant/2});

  z-index: 3;

  &:hover .iconBody{
    stroke: $color-pink;
  }

  &Left{
    transform: rotate(0deg);
    left: calc(#{$indent-giant * 2});

    &:hover{
      transform: scale(1.05);
    }

    @include screen(1300px){
      left: calc(#{$indent-big + $indent-giant});
    }
  }

  &Right{
    transform: rotate(180deg);
    left: $indent-giant;

    &:hover{
      transform: scale(1.05) rotate(180deg);
    }

    @include screen(1300px){
      left: $indent-big;
    }
  }
}

.icon{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.iconBody{
  transition: stroke $anim-normal;
  stroke: $color-pink-light;

  &:hover{
    stroke: $color-pink;
  }
}