@import "src/Root/vars";


.root{
  text-align: right;

  :global(.__IS_MOBILE__) & {
    padding-top: $indent-giant;
  }
}

.container{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;

  :global(.__IS_MOBILE__) & {
    text-align: center;
  }
}

.mainTitle{
  font-size: $font-size-giant;
  margin-bottom: $indent-big;
  text-align: right;

  :global(.__IS_MOBILE__) & {
    text-align: center;
  }
}

.text{
  display: block;
  position: relative;
  margin-bottom: $indent-small;

  :global(.__IS_MOBILE__) & {
    text-align: center;
  }
}

.leftSide{
  display: inline-block;
  position: relative;
  padding-right: calc(#{$indent-giant} + #{$indent-big});
  vertical-align: top;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;

  transition: opacity $anim-normal, pointer-events $anim-normal;

  &Hidden{
    opacity: 0;
    pointer-events: none;
  }

  :global(.__IS_MOBILE__) &{
    display: block;
    padding: 0;
    top: 0;
    transform: none;
    width: 100%;
    text-align: center;
  }
}

.rightSide{
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: auto;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);

  @include screen(1300px){
    height: 90%;
  }

  @include screen(1200px){
    height: 80%;
  }

  @include screen(1100px){
    height: 70%;
  }

  :global(.__IS_MOBILE__) &{
    display: block;
  }
}

.photo{
  margin: 0;
  width: 100%;
  height: 100%;
}

.videoContainer {
  height: 100%;
  width: 100%;
}

.socialBtn{
  margin-left: $indent-small;

  :global(.__IS_MOBILE__) & {
    margin: 0 calc(#{$indent-small/2});
  }
}

.mainBtn{
  margin-top: $indent-big;

  :global(.__IS_MOBILE__) & {
    margin-top: $indent-normal;
  }
}