@import "src/Root/vars";


.root{
  text-align: right;
}

.container{
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}

.mainTitle{
  font-size: $font-size-giant;
  margin-bottom: $indent-big;
  text-align: right;
}

.leftSide{
  display: inline-block;
  position: relative;
  padding-right: $indent-giant;
  vertical-align: top;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
}

.rightSide{
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: auto;
  height: 100%;
  background-image: url("./img/cover.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  top: 50%;
  transform: translateY(-50%);
}

.playButton{
  display: block;
  position: absolute;
  bottom: $indent-giant;
  left: calc(-#{$size-big}/2);
  z-index: 1;
}