@import "src/Root/vars";


.root{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: $indent-normal;
}

.line{
  display: block;
  position: relative;
  margin-top: $indent-small;
  height: 2px;
  background-color: transparent;
  transition: transform $anim-normal;
  width: 100%;
  transform: scaleX(0);

  &Active{
    background-color: $color-pink;
    transform: scaleX(1);
  }
}

.topBar{
  display: block;
  position: relative;
  padding: $indent-small;
  height: auto;
  cursor: pointer;

  &:hover .line{
    background-color: $color-pink-light;

    &Active{
      background-color: $color-pink;
    }
  }

  :global(.__IS_MOBILE__) & {
    padding: $indent-small 0;
  }
}

.text{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 $indent-small;
  overflow: hidden;
  transition: height $anim-normal, opacity $anim-normal;

  :global(.__IS_MOBILE__) & {
    padding: 0;
  }
}

.title{
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: $font-size-normal-big;

  &:hover{
    color: $color-true-black;
  }
}