@import "src/Root/vars";


.root{
  display: block;
  position: relative;
  margin-top: $indent-giant;
  width: 100%;
  height: auto;
}

.videoContainer{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: $indent-normal;
}

.video{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  max-width: calc(100% - #{$indent-giant});
  min-width: 0;
  margin: 0;
}

.title{
  margin-bottom: $indent-normal;
}

.text{
  white-space: pre-wrap;
}

.mobileVideo{
  height: 200px;
  margin-bottom: $indent-normal;
  background-color: #eee;
}

.mobileVideoPreview{
  display: none;
}
