@import "src/Root/vars";


.root{
  display: block;
  position: relative;
  height: auto;
  width: 100%;
}

.button{
  display: inline-block;
  position: relative;
  margin-right: $indent-small;
  line-height: $size-small;
  text-align: center;
  color: #fff;
  font-size: $font-size-small;
  margin-top: $indent-small;

  &Active{
    background-color: $color-pink;
  }

  :global(.__IS_MOBILE__) & {
    margin-bottom: $indent-small;
  }
}

.buttonExtra{
  border: none;
  border-radius: $size-small;
  margin-right: $indent-small;
  margin-top: $indent-small;
  color: #fff;

  &Active{
    background-color: $color-pink;
  }

  :global(.__IS_MOBILE__) & {
    padding: 0 12px;
  }
}