@import "src/Root/vars";


.root{
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  min-height: 600px;

  :global(.__IS_MOBILE__) & {
    min-height: 200px;
  }
}

.container{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: $indent-giant;

  @include screen(1300px){
    padding-bottom: $indent-big;
  }
}

.title,
.text{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: $indent-normal;
}

.text{
  margin-bottom: $indent-big;

  :global(.__IS_MOBILE__) & {
    margin-bottom: $indent-normal;
  }
}

.formatedText {
  display: block;
  font-size: $font-size-normal;
  margin-top: $indent-giant;
  white-space: pre-wrap;
}