@import "src/Root/vars";


.root{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &Hidden{
    opacity: 0;
    pointer-events: none;
  }

  &Fullscreen{
    padding-left: $indent-giant;
    margin-bottom: 0 !important;
  }
}

.controlPannel{
  display: block;
  position: absolute;
  height: auto;
  width: auto;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.controlPanneFullScreen{
  right: calc(#{$indent-giant - $size-small}/2)
}

.controlBtn{
  display: block;
  position: relative;
  margin-bottom: $indent-normal;

  &:last-of-type{
    margin-bottom: 0;
  }
}

.video{
  display: block;
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: auto;
  max-width: calc(100% - #{$size-small * 2} - #{$indent-big * 2});
  max-height: 100%;
}