@import "src/Root/vars";


.root{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &Hidden{
    opacity: 0;
    pointer-events: none;
  }
}

.closeBnt{
  right: 0;
  top: 0;
}

.video{
  display: block;
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: auto;
  max-width: calc(100% - #{$size-small * 2} - #{$indent-big * 2});
  max-height: 100%;
}