@import "src/Root/vars";


.root{
  display: inline-block;
  position: relative;
  width: calc(100%/3 - #{$indent-giant});
  vertical-align: top;
  margin: $indent-giant calc(#{$indent-giant / 2}) 0 calc(#{$indent-giant / 2});

  :global(.__IS_MOBILE__) & {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: $indent-big;
  }
}

.icon{
  display: block;
  position: relative;
  width: 100%;
  height: calc(#{$size-big} * 1.2);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}

.title{
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: $font-size-big;
  margin-top: $indent-big;

  :global(.__IS_MOBILE__) & {
    margin-top: $indent-small;
  }
}

.text{
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-size: $font-size-normal;
  margin-top: $indent-normal;

  :global(.__IS_MOBILE__) & {
    margin-top: $indent-small;
  }
}