@import "src/Root/vars";


.root{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: $header-height;
  background-color: rgba(#fff, .9);
  width: 100%;
  padding: 0 $indent-giant;

  min-width: $page-width-desktop-min;

  @include screen(1300px){
    padding: 0 $indent-big;
  }
}

.logo{
  display: inline-block;
  position: relative;
  height: $header-height;
  width: 150px;
  margin-right: $indent-normal;
  background-image: url("./img/logo.svg");
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: top;
  cursor: pointer;

  @include screen(1200px){
    margin-right: $indent-small;
  }

  @include screen(1080px){
    display: none;
  }
}

.rightGroup{
  display: block;
  position: absolute;
  height: $header-height;
  top: 0;
  width: auto;
  right: $indent-giant;
  line-height: $header-height;

  @include screen(1300px){
    right: $indent-big;
  }
}

.enterButton,
.regButton{
  vertical-align: middle;
}

.regButton{
  margin-right: $indent-normal;
}