@import "src/Root/vars";


.root{
  display: block;
  position: relative;

  padding: 0 $indent-giant;

  @include screen(1300px){
    padding: 0 $indent-big;
  }

  :global(.__IS_MOBILE__) & {
    padding: 0 ;
  }
}

.image{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}

.info {
  display: block;
  position: relative;
  margin-top: $indent-big;

  :global(.__IS_MOBILE__) & {
    padding: 0 $indent-normal;
  }
}

.title{
  font-size: $font-size-big;
  text-align: left;
}

.text{
  font-size: $font-size-normal;
  text-align: left;
  margin-top: $indent-small;
}