:global{
  .input-range__label-container {
    left: -50%;
    position: relative;

    .input-range__label--max & {
      left: 50%;
    }
  }

  .input-range__label--max .input-range__label-container {
    left: 0;
  }
}
