@import "src/Root/vars";


.root{
  display: block;
  position: relative;
  height: auto;
  width: 100%;
}

.button{
  display: inline-block;
  position: relative;
  width: auto;
  padding: 0 $indent-small;
  line-height: $size-small;
  color: #fff;
  margin-right: $indent-small;
  font-size: $font-size-small;

  &Active{
    background-color: $color-pink;
  }
}

.extraContent{
  margin-bottom: $indent-normal;
}