@import "src/Root/vars";


$icon-size: 20px;


.root {
  display: block;
  position: relative;
}

.item{
  display: block;
  position: relative;
  margin-bottom: $indent-small;

  &:last-of-type{
    margin-bottom: 0;
  }
}

.icon{
  display: inline-block;
  position: relative;
  background-image: url("./img/star.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  height: $icon-size;
  width: $icon-size;
  vertical-align: top;
}

.text{
  display: inline-block;
  position: relative;
  width: calc(100% - #{$icon-size});
  padding-left: $indent-small;
  font-size: $font-size-small;
  color: $color-gray;
  line-height: $icon-size;
  vertical-align: top;
}