@import "src/Root/vars";


.root{
  padding: $indent-giant 0 0 0;
}

.title{
  padding-left: $indent-giant;
  font-size: $font-size-giant;
  margin-bottom: $indent-giant;

  @include screen(1300px){
    padding-left: $indent-big;
  }
}

.slideWrapper{
  display: block;
  position: relative;
}