@import "src/Root/vars";


.root{
  padding: $indent-giant 0;
}

.title{
  font-size: $font-size-giant;
  padding: 0 $indent-giant;
}

.cover{
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  margin-top: $indent-giant;
}

.container{
  display: block;
  position: relative;
  margin-top: $indent-big;
  width: 100%;
  height: auto;
  padding: 0 $indent-giant;
}