@import "src/Root/vars";


.title{
  font-size: $font-size-giant;
}

.cover{
  display: block;
  position: relative;
  height: auto;
  width: 100%;
  margin-top: $indent-giant;
}

.container{
  display: block;
  position: relative;
  margin-top: $indent-big;
  width: 100%;
  height: auto;
}