@import "src/Root/vars";


.root{
  display: inline-block;
  position: relative;
  width: calc(100% - 400px - #{$indent-giant} * 1.5);
  height: 600px;
  vertical-align: top;
  transition: opacity $anim-normal;

  &Hidden{
    opacity: .1;
  }
}

.wrapper{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
}