@import "src/Root/vars";


.root{
  display: inline-block;
  position: relative;
  width: calc(100% - 400px - #{$indent-giant} * 1.5);
  min-height: 600px;
  vertical-align: top;
  transition: opacity $anim-normal, pointer-events $anim-normal;

  &Hidden{
    opacity: 0;
    pointer-events: none;
  }
}

.wrapperFlex{
  display: flex;
  position: relative;
  min-height: inherit;
  width: 100%;
  height: auto;
}

.wrapper{
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
}