@import "src/Root/vars";


$icon-size: 25px;

.root{
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  line-height: $icon-size;
  margin-bottom: $indent-normal;
  margin-right: $indent-big;
}

.leftSide{
  display: inline-block;
  position: relative;
  height: $icon-size;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-right: $indent-small;
  vertical-align: middle;
}

.rightSide{
  display: inline-block;
  position: relative;
  width: auto;
  height: $icon-size;
  font-size: $font-size-small;
  text-align: left;
  vertical-align: middle;
}